.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 100vh;
  gap: 2rem;
}

.forms {
  max-width: 30rem;
  padding: 2rem;
}

@media (max-width: 40rem) {
  .login {
    grid-template-columns: 1fr;
  }
  .login::before {
    display: none;
  }
  .forms {
    max-width: 100%;
  }
}
