.items {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins';
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.productContainer {
  padding: 1rem;
}

.gap {
  display: inline-block;
  margin-right: 10rem;
  width: 5.3rem;
}
.errado {
  padding-bottom: 4px;
}

.gap input {
  outline: none;
  border: none;
  text-align: center;
  width: 30px;
  font-size: 1rem;
  font-family: 'Poppins';
}

.exclude {
  display: flex;
  justify-content: flex-end;
}

.quantidade {
  display: flex;
  position: relative;
  justify-content: center;
  align-self: center;
  margin-top: 2rem;
}

.quantidade input {
  width: 30%;
  border: none;
  border-bottom: 1px solid silver;
  outline: none;
  text-align: center;
}

.exclude h3 {
  border: 2px solid red;
  border-radius: 2px;
  font-size: 0.75rem;
  text-align: center;
  cursor: pointer;
}
