.vazio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.divisor label {
  margin-top: 1rem;
}

.button {
  padding: 0.5rem;
  border: none;
  background: teal;
  border-radius: 4px;
  color: white;
  font-family: 'Poppins';
  margin-top: 1rem;
  cursor: pointer;
}

.divDivisora input {
  padding: 0.4rem;
  width: 30%;
}

.title {
  font-family: 'Poppins';
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-family: 'Poppins';
}

.subtotal {
  margin-top: 1rem;
  font-family: 'Poppins';
}
