.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

/* @media (max-width: 45rem) {
  .header {
    display: flex;
    justify-content: space-between;
    align-content: center;

    align-items: center;
  }
} */
