.balance {
  grid-column: 3 / 4;
  margin-left: 4rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* justify-self: center; */
}

.balance h1 {
  font-family: 'Poppins';
  padding: 0.3rem;
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 3rem;
}

.balance::before {
  content: '';
  display: inline-block;
  width: 3px;
  height: 100vh;
  background-color: #ccc;
  border-radius: 4px;
  margin-left: 6rem;
  margin-top: 2rem;
}

@media (max-width: 80rem) {
  .balance {
    display: none;
  }
}
