.history {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background: #fefefe;
  min-width: 34rem;
  margin-top: 2rem;
  grid-auto-flow: row;
  /* box-shadow: 1px 0px 4px 2px #d8d8d8; */
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 2rem;
  border: 3px solid #ededed;
}
.history h2 {
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  font-size: 1.35rem;
  font-family: var(--type-first);
  border-right: 2px solid #ccc;
  text-align: center;
}

.history h2:nth-child(4) {
  border: none;
}

.descricao {
  grid-column: 1 / 5;
}

.produto {
  grid-column: 1 / 2;
}

.produtoPc {
  grid-column: 2 / 3;
}

.produtoQtd {
  grid-column: 3 / 4;
}

.produtoData {
  grid-column: 4 / 5;
}
.wrapper {
  grid-column: 1 / 2;
}

.img {
  width: 130px;
  height: 130px;
  /* border: 1px solid white; */
  box-shadow: 1px 2px 6px 2px #d8d8d8;
}

.imagemContainer {
  margin: 1rem 0 1rem 0;
  grid-column: 1 / 2;
  display: flex;
  justify-content: space-around;
}

.produtoFlex {
  display: flex;
}

.drop {
  display: flex;
  align-items: center;
}

.gridPc {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridQtd {
  grid-column: 3 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridData {
  grid-column: 4 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
