.history {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 2fr;
  /* gap: 2rem; */
  background: #fefefe;
  margin-top: 2rem;
  margin-right: 2rem;
  height: 200px;
  width: 90%;
  /* box-shadow: 1px 0px 4px 2px #d8d8d8; */
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 2rem;
  border: 3px solid #ededed;
  text-align: center;
  justify-items: center;
  margin-bottom: 4rem;

  border-radius: 0.2rem;
  /* overflow: hidden; */
}

.nome {
  grid-row: 1 / 2;
}

.desc {
  grid-row: 2 / 3;
  margin-top: 2.5rem;
  font-family: 'Poppins';
  font-size: 1rem;
}

.history img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  grid-row: 2;
  /* width: 100%; */
}

.nome {
  font-family: 'Poppins';
  font-size: 1.735rem;
}
