.wrapper {
  display: grid;
  grid-template-columns: 1fr 310px;
  padding-right: 1.8rem;
}

.search {
  border: 2px solid #efefef;
  display: flex;
  width: 100%;
  grid-column: 2;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 2rem;
  background: white;
  transition: 0.2s;
  margin-bottom: 1.5rem;
}

::placeholder {
  color: #ccc;
}

.search:focus,
.search:hover {
  outline: none;
  border-color: white;
  background: white;
  box-shadow: 0 0 0 1px #fff;
}

@media (max-width: 50rem) {
  .wrapper {
    display: flex;
    padding: 0px;
    width: 320px;
    margin: 0 auto;
  }
}
