.photo {
  box-shadow: 01px 0px 4px 2px #d8d8d8;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: grid;
  /* max-width: 19.375rem; */
  overflow: hidden;
  cursor: pointer;
  /* max-height: 31.25rem; */
}

.photo > div {
  grid-area: 1 / 1;
}

.span {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1;
  display: none;
  font-weight: bold;
  height: 300px;
  width: 100%;
}

.photo:hover .span {
  display: flex;
}

.descricao {
  padding: 0.5rem 0;
  max-width: 19.375rem;
  overflow: hidden;
  word-wrap: break-word;
}

.descricao h3 {
  margin: 0.5rem 1rem;
}
