.feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 4rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.container h1 {
  grid-column: 1 / 4;
}

.title {
  font-family: 'Poppins';
  padding: 0.3rem;
  font-size: 2rem;
  margin-top: 1rem;
}

@media (max-width: 40rem) {
  .feed {
    grid-template-columns: 1fr;
  }
}
