.product {
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55),
    10px 10px 15px rgba(70, 70, 70, 0.12);
  /* background-color: #fff; */
  padding: 10px;
  border-radius: 10px;
  display: grid;
  max-width: 20rem;
  min-width: 20rem;
  overflow: hidden;
  cursor: pointer;
  /* max-height: 31.25rem; */
}

.product > div {
  grid-area: 1 / 1;
}

.span {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  font-family: 'Poppins';
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: 1 / 1;
  display: none;
  font-weight: bold;
  height: 300px;
  width: 100%;
}

.product:hover .span {
  display: flex;
}

.descricao {
  padding: 0.5rem 0;
  max-width: 19.375rem;
  overflow: hidden;
  word-wrap: break-word;
}

.descricao h3 {
  margin: 0.5rem 1rem;
  font-family: 'Poppins';
}
